body{
    background-image: url(https://images.pexels.com/photos/821754/pexels-photo-821754.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    margin: 0 ;
    padding: 0;
    font-family: sans-serif;   
}
:root{
    --Lexend:'Lexend',cursive;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
   padding: 40px ;
    background: rgba(0,0,0,.8) ;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5); 
    border-radius: 50px ;

}

.box h2{
    color: #fff;
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    font-family: var(--Lexend);

}

.box .inputBox{
    position: relative ;
}
.box .inputBox input{
    width: 100%;
    padding:  10px 0 ;
    font-size: 16px;  
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #c2e9fb;
    outline: none;
    background: transparent ;
    


}
.box .inputBox label{
    position: absolute;
    top: 0;
    left: 0;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.9s;
    font-family: var(--Lexend);

}


.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label{
    top: -18px;
    left: 0;
    font-size: 12px;    
}

.box input[type="submit"]{

    background: transparent;
    border: none;
    outline: none;
    color: black;
    background: #c2e9fb;
    padding: 15px 70px ;
    cursor: pointer;
    border-radius: 20px ;
    font-family: var(--Lexend);
    

}
.box input[type="submit"]:hover{
    background: transparent;
    border: 1px solid white;
    color: white;
    
}

